@import "tailwindcss";

.btn {
    cursor: pointer;
    transition: .2s;
}

.btn-sm {
    cursor: pointer;
    font-size: smaller;
}


.bg-primary {
    background-color: var(--color-blue-400);
    color: white;
}

.bg-primary-hover {
    background-color: var(--color-blue-500);
    color: white;
    &:hover {
        background-color: var(--color-blue-700);
    }
}

.bg-secondary {
    background-color: var(--color-gray-400);
    color: white;
}

.bg-secondary-hover {
    background-color: var(--color-gray-500);
    color: white;
    &:hover {
        background-color: var(--color-gray-700);
    }
}

.bg-success {
    background-color: var(--color-green-400);
    color: white;
}

.bg-success-hover {
    background-color: var(--color-green-400);
    color: white;
    &:hover {
        background-color: var(--color-green-500);
    }
}

.bg-danger {
    background-color: var(--color-red-400);
    color: white;
}

.bg-danger-hover {
    background-color: var(--color-red-400);
    color: white;
    &:hover {
        background-color: var(--color-red-500);
    }
}

.outline-primary {
    color: var(--color-blue-500);
    border: solid  1px var(--color-blue-500);
    background-color: none;
    &:hover {
        color: white;
        background-color: var(--color-blue-700);
    }
}

.outline-secondary {
    color: var(--color-gray-500);
    border: solid  1px var(--color-gray-500);
    background-color: none;
    &:hover {
        color: white;
        background-color: var(--color-gray-500);
    }
}

.outline-success {
    color: var(--color-green-400);
    border: solid  1px var(--color-green-400);
    background-color: none;
    &:hover {
        color: white;
        background-color: var(--color-green-500);
    }
}

.outline-danger {
    color: var(--color-red-400);
    border: solid  1px var(--color-red-400);
    background-color: none;
    &:hover {
        color: white;
        background-color: var(--color-red-400);
    }
}